body{
  height: 100%;
  margin: 0;
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.back-vid{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  mix-blend-mode: overlay;
}
header{
    color: black;
    padding:0 30px;
    text-align: center;
    gap: 1rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(225, 255, 255, 0.123);
    backdrop-filter: blur;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
}

header ul{
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: rgba(0, 0, 69, 0.30);
  backdrop-filter: blur;
  margin-left: 25rem;
  
}
header ul a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin: 0 10px;
  
}


.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;   /* ensures it adjusts on smaller screens */
  gap: 30px;
  padding: 50px 0;
}

.skill-card {
  background:skyblue;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}
.skill-card:nth-child(1){
    animation-delay: 0.2s;
}
.skill-card:nth-child(2){
    animation-delay: 0.4s;
}
.skill-card:nth-child(3){
    animation-delay: 0.6s;
}
.skill-card:nth-child(4){
    animation-delay: 0.8s;
}
@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY();
    }
}

.skill-card:hover {
  transform: translateY(-5px);
  cursor: grab;
  
}

.skill-card h3 {
  color: #0056b3;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}
.footer-content{
  background-color:lightblue;        /* Dark background */
  color:black;                   /* White text */
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 3rem;
  font-size: 0.95rem;
  line-height: 1.6;
}
